@import './_base';
@import './_card';
@import './_search';
@import './_share';
@import './_rainbow';

/**/

.page-iframe{
	height: 62vh;
	background-color:#ffffff;
}

@media screen and (max-width:1440px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width:1000px) {
	html {
		font-size: 16px;
	}
	.page {
		display: block;
		height: auto;
		min-height: 100vh;
	}
}
